<div class="trip-form">
    <input type="text" placeholder="Start Point" [(ngModel)]="startPoint" (input)="onTripInputChange()" />
    <input type="text" placeholder="End Point" [(ngModel)]="endPoint" />
    <button (click)="addTrip()" [disabled]="!isTripInputValid()">
        Add Trip
    </button>
    
    <button (click)="resetTrip()">
        Reset Trip
    </button>
</div>

<div class="trip-container">
    <div *ngFor="let trip of trips" class="trip-row">
        <div class="trip-column">

            <div class="trip-box">{{ trip.start }}-{{ trip.end }}</div>
            <div class="trip-box-lines">
                <span class="circle"></span>

                <div class="trip-line" [ngClass]="{
                  'line-straight': trip.continued,
                  'line-arrowed': trip.arrowed,
                  'line-diversion-up': trip.diversionUp,
                  'line-diversion-down': trip.diversionDown,
                  'line-repeated': trip.repeated,
                  'line-shift-layout': trip.newDestination
                }"></div>
            </div>
        </div>
    </div>
</div>